@import './base.css'; 
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eceaea;
    box-shadow: 2px 2px 2px 2px #000 ;
    position: sticky;
    top: 0;
}
.header .logo img{
    height: 50px;
    border-radius: 60%;
}
.list .options a{
    color: black;
    text-transform: uppercase;
    text-decoration-line: underline;
}
.list .options{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.auth{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-transform: uppercase; 
    
}
.auth a{
    border: 2px solid  black; 
    color: black;
    padding: 7px;
    border-radius: 50px;
}
.scrollNavbar{
    background-color: #fff;
}

.loader-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
}
.active{
    display: flex;
}
.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    border-bottom-color: transparent;
    animation: rotate 1s infinite linear;
}
@keyframes rotate{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.count-down{
    background-color: #eceaea;
    text-align: center;
    padding: 20px 0;
    border-radius: 50px;
}
.countdown-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-transform: capitalize;
}
.time{
    background-color: #232323;
    color: #fff;
    padding: 20px;
    border-radius: 25%;
}
.category{
    background-color:#fff;
    width: 25%;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
}
.products{
    background-color:#f7f7f7d8;
    padding: 25px;
    border-radius: 20px;
}
.product img{
    width: 250px;
    height: 250px;
}
.product{
    width: 30%;
    height: 350px;
    text-align: center;
    background-color: rgba(248, 240, 240, 0.5);
    margin: 15px;
    border-radius: 15px;
} 
.product h4{
    color: red;
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}