@import './base.css'; 
.category{
    background-color:#fff;
    width: 25%;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
}
.product img{
    width: 250px;
    height: 250px;
}
.product{
    width: 30%;
    text-align: center;
} 